.about-section {
    background-color: #f1f2f8;
    padding: 5rem 20px;
}

.about-container {
    padding: 2.01rem;
    margin: 0;
    gap: 2.01rem 0;
}

.about-content {
    padding-right: 50px;
    padding-left: 10px;
}

.about-content h2 {
    color: #1e293b;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.about-description {
    color: #334155;
    font-size: 16px;
    margin: 20px 0 50px;
}